*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Cine;
    src:url(fuente/FilmLetters.ttf);
    font-style: normal;
}
@font-face{
    font-family: Titulos;
    src: url(fuente/Cinemair\ Regular.ttf);
    font-style: normal;
}
@font-face{
    font-family: Contenidos;
    src: url(fuente/Times\ New\ Romance.ttf);
    font-style: normal;
}


header{
    background-size: 100% 100%;
    object-fit: cover;
    height: 120px;
    background-color: #bfc6ca;
    background-image: url(./imagen/header\ final.webp), linear-gradient(270deg, #bfc6ca 0%, #eaf1f0 24%, #f4f5ef 49%, #ffffff 75%, #ffffff 100%);

}

header h1{
    font-family: "Cine";
    padding-top: 2px;
    padding-left: 15px;
    font-size: 85px;
    letter-spacing: normal;
    color: #06090d;
    text-shadow: 1px 1px 2px rgb(245, 245, 241), 0 0 5rem rgb(250, 246, 246), 0 0 0.2em rgb(248, 244, 244);
}

header p{
    color: rgb(253, 239, 52);
    font-size: 30px;
    font-family: "Titulos";
    margin-top: -35px;
    padding-left: 45px;
    text-shadow: 1px 1px 2px rgb(17, 17, 17), 0 0 5rem rgb(246, 6, 6), 0 0 0.2em rgb(202, 16, 3);
}

.marquee {
    font-size: 30px;
    font-family: "Titulos";
    margin-top: 5px;
    margin-bottom: 5px;
    color: blue;
    text-shadow: 1px 1px 2px rgb(238, 3, 3), 0 0 5rem rgb(17, 17, 4), 0 0 0.2em rgb(202, 202, 3);
}

div h2 {
    font-family: "Titulos";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgb(0, 0, 4), 0 0 5rem rgb(14, 9, 1), 0 0 0.2em rgb(15, 2, 2);
    background-color: #0a4f78;
    background-image: linear-gradient(90deg, #0a4f78 0%, #1533f3 33%, #55cc30 66%, #90972a 100%);
    
}

.cartelera{
    border: 5px solid red;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr; // aca controlo las columnas//
    grid-template-rows: 3fr; //aca controlo las filas//
    grid-template-areas:
    "marca1 marca2"
;

    .btn1, .btn4, .btn6, .btn8, .btn10, .btn12{
        background-color: rgb(255, 0, 0) !important;
        height: 7px !important;
    }
    .btn2, .btn3, .btn5, .btn7, .btn9, .btn11{
        background-color: rgb(251, 251, 251) !important;
        height: 7px !important;
    }
}
.carrusel-texto{
    p {
        padding-top: 150px !important;
        color: rgb(246, 244, 244);
        font-weight: bolder;
        font-family: "Contenidos";
        font-size: 25px;
        text-shadow: 1px 1px 2px rgb(15, 11, 11), 0 0 5rem rgb(17, 17, 4), 0 0 0.2em rgb(202, 202, 3);
        
    }
}
.subir{
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: rgb(15, 16, 101);
    padding: 10px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
}

footer{
    background-color:black;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    font-family:"Arabica";
    margin-bottom: 20px;
    p{
        margin-top: 10px;
        color:white;
        font-family: "Titulos";
        font-size: 30px;
    
    }
    .Aviso{
        margin-top: 10px;
        
        text-transform: uppercase;
        
    }
    .Redes{
        margin-top: 10px;
        letter-spacing: 5px;
        color:rgb(114, 230, 253);
        text-shadow: 1px 1px 2px rgb(26, 18, 247), 0 0 5rem rgb(17, 17, 4), 0 0 0.2em rgb(15, 15, 1);
    }
}
.marca2 {
    background-image: url(./imagen/select\ peliculas2.jpg);
}

.seleccion{
    // display: flex;
    // justify-content: center;
    // align-items: center;  
    // margin-top: 30px;
    // margin-left: 5px;
    // gap: 10px;
    // flex-flow: column;
    // background-color: #4158D0;
    // background-image: linear-gradient(123deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
    // color: whitesmoke;
    font-size: 30px;
    font-family: "Titulos";
    text-shadow: 1px 1px 2px rgb(222, 248, 21), 0 0 5rem rgb(251, 251, 37), 0 0 0.2em rgb(15, 15, 1);
    .sub1, .sub2, .sub3, .sub4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        margin-top: 10px;
        color:black;  
    }

    .peliculas{
        font-family: "Contenidos";
        font-size: 25px;
    }
    .boton{
        background-color: rgb(68, 68, 242);
        color: whitesmoke;
        margin-bottom: 10px;
    }
    .fnc1{
        margin-top: 10px;
    }
    .concepto{
        text-decoration: underline;
    }
    a{
        text-decoration: none ;
        color: whitesmoke;
        font-size: 30px;
        font-family: "Titulos";
    }

}

.resumen-subtitulo{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    margin-top: 5px;
    text-shadow: 1px 1px 2px rgb(7, 7, 13), 0 0 5rem rgb(17, 17, 4), 0 0 0.2em rgb(15, 15, 1);
    font-weight: none;
}

.resumen-entradas {
    background-image: url(./imagen/Sala\ de\ cine.jpg);
    object-fit: cover;
    display: flex;
    flex-flow:column;
    flex-shrink: 20px;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    .barra1{
        padding-top: 5px;
        margin-top: 10px;
        margin-left: 15px;
        font-size: 40px;
        font-weight: bolder;
        font-family: "Titulos";
        color: rgb(229, 250, 5);
        text-shadow: 2px 2px 4px rgb(248, 8, 8), 0 0 5rem rgb(246, 246, 242), 0 0 0.2em rgb(19, 16, 16);
    }

    #part1 {
        color: rgb(249, 244, 244);
        padding-top: 30px;
        margin-top: 10px;
        margin-left: 15px;
        font-size: 40px;
        font-weight: bolder;
        font-family: "Contenidos";
        text-shadow: 1px 1px 2px rgb(7, 7, 6), 0 0 5rem rgb(17, 17, 4), 0 0 0.2em rgb(253, 5, 5);
    }
    #part2, #part3, #part4 {@extend #part1}
}

.parte-final {
    font-family: "Titulos";
    font-size: 30px;
    background-color: #055d8e;
    background-image: linear-gradient(180deg, #055d8e 0%, #0a979f 33%, #4ccadd 66%, #9fdddf 100%);
    margin-top: 5px;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(253, 244, 244);
    text-shadow: 1px 1px 2px rgb(249, 7, 7), 0 0 5rem rgb(17, 17, 4), 0 0 0.2em rgb(247, 243, 243);
    align-items: center;
    text-align: center;
    #part7{
        p{
        color: white;
        text-shadow: 1px 1px 2px rgb(2, 13, 14), 0 0 5rem rgb(255, 255, 255), 0 0 0.2em rgb(247, 243, 243);}
    }
    .formMail{
        text-shadow: 1px 1px 2px rgb(242, 30, 30), 0 0 5rem rgb(17, 17, 4), 0 0 0.2em rgb(247, 243, 243);
    }
    #formularioFinal{
        color: rgb(15, 2, 2);
        display: flex;
        flex-flow:column;
        align-items: center;
        margin-top: 10px;
        font-family: "Titulos";
        font-size: 30px;
        button{
            font-family: "Titulos";
            background-color: none;
            margin-bottom: 10px;
        }
        #email {
            font-size: 27px;
            font-family: "Contenidos";
        }
    }

}
.swal2-Swal.mixin{
    background-color: none;
}
.swal2-title{
    color: rgb(239, 238, 238);
    text-align: center;
    margin: auto;
    font-size: 40px;

}
.swal2-text{
    color: rgb(9, 8, 8);
    text-align: center;
    margin: auto;
    font-weight: "Contenidos";
    font-size: 30px;

}
h1.cYc {
    text-align: center;
    margin-top: 3px;
    font-family: "Cine";
    font-size: 60px;
    background-color: white;
    background-color: #85FFBD;
    background-image: linear-gradient(90deg, #85FFBD 0%, #FFFB7D 33%, #ede264 66%, #8dcff3 100%);

}
.container{
    font-size: 25px;
    color: white;
    font-weight: bolder;
    font-family: "Contenidos";
    text-shadow: 1px 1px 2px rgb(6, 6, 2), 0 0 5rem rgb(8, 1, 1), 0 0 0.2em rgb(248, 244, 244);
    margin-top: 3px;
}
.menu-part1{
    background-image: url(./imagen/fondo\ cotufa\ 2.jpg);
    background-size: 50% 100%;
    object-fit: cover;
    text-align: center;
    text-justify: center;
    border: 5px solid red;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr; // aca controlo las columnas//
    grid-template-rows: 4fr; //aca controlo las filas//
    grid-template-areas:
    "menu1 menu2"
    ;
    // .menu1{
    //     background-image: url(./imagen/fondo\ cotufa\ 3.jpg);
    //     background-size: cover;
    //     background-position: center;
    // }
    #mostrarCombos{
        background-color: #f9f9f8;
        color: #06090d;
        font-size: 25px;
        font-family: "Contenidos";
    }
    h2{
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 3px;
        margin-bottom: 5px;
        font-family: "Titulos";
        font-size: 30px;
        background-color: none !important;
        background-image: none;
    }
    .menu2{
        padding-left: 10px;
        .menu2-titulo{
            text-align: center;
            font-size: 50px;
            font-family: "Titulos";
            color: black;
        }
        .sub1, .sub2{
            color: white;
            text-shadow: 1px 1px 2px rgb(6, 6, 2), 0 0 5rem rgb(233, 249, 51), 0 0 0.2em rgb(248, 244, 244);
        }
        #comprar{
            background-color: rgb(243, 243, 19);
            color: #06090d;
        }
        .menu2-opciones{
            display: block;
            justify-content: center;
        }
        .menu2-combos{
            text-align: center;
            
            list-style-type: none;
            padding: 0;
            border-radius: 2px;
            word-wrap: break-word;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 3fr);
            grid-gap: 0;
            grid-template-areas:
            "opciones1"
            "opciones2"
            "opciones3"
            "opciones4"
            "opciones5"
            ;
            
            .opcion{
                display: flex;
                align-items: center;
                margin-bottom: 0;
                width: 50%;
                box-sizing: border-box;
                padding: 0;
                margin-top: 5px;
                border: 2px solid black;
                
            }
            .peliculas{
                width: 20%;
                margin-bottom: 5px;
            }
        }
    }
}

.menu-part2{
    background-image: url(./imagen/fondo\ cotufa\ 2.jpg);
    background-size: 50% 100%;
    object-fit: cover;
    text-align: center;
    border: 5px solid red;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr; // aca controlo las columnas//
    grid-template-rows: 4fr; //aca controlo las filas//
    grid-template-areas:
    "menu3 menu4"
    ;
    #mostrarComida{
        background-color: #f9f9f8;
        color: #06090d;
        font-size: 25px;
        font-family: "Contenidos";
    }
    #mostrarComida{
        background-color: #f9f9f8;
        color: #06090d;
        font-size: 25px;

        font-family: "Contenidos";
    }
    h2{
        font-weight: bold;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 3px;
        margin-bottom: 5px;
        font-family: "Titulos";
        font-size: 30px;
        background-color: none;
        background-image: none;
    }
    .menu4{
        padding-left: 10px;
        .sub1, .sub2{
            color: white;
            text-shadow: 1px 1px 2px rgb(6, 6, 2), 0 0 5rem rgb(233, 249, 51), 0 0 0.2em rgb(248, 244, 244);
        }
        #comprar{
            background-color: rgb(243, 243, 19);
            color: #06090d;
        }

    }
}


.no-select, .finalMenu{
    background-image: url(./imagen/Cortina\ de\ cine.jpg);
    text-align: center;
    border: 2px solid black;
    p{
        font-family: "Titulos";
        font-size: 35px;
        color: white;
        text-shadow: 1px 1px 2px rgb(15, 15, 12), 0 0 5rem rgb(250, 246, 246), 0 0 0.2em rgb(11, 11, 10);
    }
    #pagar1 {
        font-size: 25px;
        margin-bottom: 5px;
        background-color: black;
        font-family: "Titulos";
        color: white
    }
}

.finalMenu{
    margin-top: 5px;
    #pagar2{
        @extend #pagar1
    }
}

.ordenDeComida{
    display: flex;
    flex-flow:row;
    flex-shrink: 10px;
    justify-content: center;
    align-items: center;
}